<form [formGroup]="estForm">
    <div>
        <label>Estudio:</label>
        <input type="text" [(ngModel)]="est.titulo" name="titulo" formControlName="titulo" required placeholder="Ingrese el nombre del estudio">
        <!-- <div *ngIf="Trabajo?.hasError('required')">
            <p>sadas</p>
        </div>     -->
    </div>

    <div>
        <label>Institucion:</label>
        <input type="text" [(ngModel)]="est.institucion" name="institucion" formControlName="institucion" required placeholder="Ingrese las tareas">    
    </div>

    <div>
        <label>Descripcion:</label>
        <input type="text" [(ngModel)]="est.descripcion" name="descripcion" formControlName="descripcion" required placeholder="Ingrese la fecha de inicio">    
    </div>

    <div>
        <label>Fecha de Inicio:</label>
        <input type="text" [(ngModel)]="est.fechaInicio" name="fechaInicio" formControlName="fechaInicio" required placeholder="Ingrese la fecha de fin">    
    </div>

    <div>
        <label>Fecha de Fin:</label>
        <input type="text" [(ngModel)]="est.fechaFin" name="fechaFin" formControlName="fechaFin" required placeholder="Ingrese la fecha de fin">    
    </div>

    <button (click)="agregarEstudio()" [disabled]="!estForm.valid"> Guardar </button>
    <button type="button" (click)="volverAHome()"> Cancelar </button>

</form>