* {
    padding: 0;
    margin: 0;
       /* outline: 1px solid rgb(65, 32, 32); */
}

html{
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 4px;
    background: var(--color-fondo);
}

::-webkit-scrollbar-thumb{
    background: rgba(255, 0, 61, 0.56);
}

body{
    box-sizing: border-box;
    --color-fondo:#232222; 
    --color-fucsia: #ff003d7a;
    --color-celeste: rgba(0, 240, 255, 0.62);
    --color-letra-blanca: rgba(255, 255, 255, 1);
    --color-letra-gris: rgba(255, 255, 255, 0.75);
    --fuente-roboto-mono: "Roboto Mono", monospace;
    --fuente-roboto: 'Roboto', sans-serif;

    font-size: 16px;
    background-color: var(--color-fondo);
    font-family: var(--fuente-roboto-mono);
    color: var(--color-letra-gris)
}

/* -------------- Inicio Sesion ------------------- */



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:300px;
    max-width:20%;
    margin:0px auto;
    background: var(--color-fucsia);
    padding : 2rem 3rem;
    /* margin:auto; */
    border-radius:0.5rem;
    /* background-color:#ecf0f3; */
    box-shadow:5px 5px 20px rgba(94, 89, 89, 0.705), -5px -5px 20px rgba(117, 112, 112, 0.425);
    /* color: black; */
    color: white;
    margin-top:8rem;
}
.form h1{
    /* display: flex; */
    /* justify-content: center; */
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-shadow: -6px -5px var(--color-celeste);

}

.form input{
    /* background: #9c989a7c; */
    /* width: 100%; */
    /* border: 2px solid rgba(0, 0, 0, 0.616); */
    border: none;
    padding: 7px;
    margin-top: 4px;
    background: rgba(255, 255, 255, 0.904);
    font-size: 18px;
    color: rgba(0, 0, 0, 0.918);
    width: fit-content;
}

.form div{
    /* display: block; */
    /* justify-content: center; */
    font-family: var(--fuente-roboto);
    font-weight: 10;
    font-size: 20px;
    padding-bottom: 7px;


}
.form label{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    /* padding-right: 4px; */

}

.form .id{
    display: none;
}

.botonIS{
    /* display: flex; */
    /* justify-content: center; */
    /* font-family: var(--fuente-roboto); */
    font-size: 25px;
    /* font-weight: bold; */
    /* color: green; */
    /* background: rgba(180, 179, 179, 0.973); */
    display: flex;
    justify-content:right;
    border-radius:6px;
    border: none;
    margin-top: 20px;
    box-shadow :3px 3px 8px #000000d0 , -3px -3px 6px #000000b7; 
    padding: 10px;
    cursor: pointer;
    width: fit-content;
}

.form .boton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form p{
    padding-top: 15px;
    padding-left: 10px;
    font-weight: 10;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

/* -------------- HEADER ------------------- */

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logosAbajo{
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
    padding-bottom: 1em;
}

header .titulo h1{
    max-width: 10ch;

    position: relative;
    animation: cambiarColor 1s ease infinite;
    color: var(--color-celeste);
    font-family: var(--fuente-roboto);
    font-weight: 10;
    font-size: 8rem;
    text-shadow: -5px -4px var(--color-fucsia);
    line-height: 1em;
    text-align: center;
}


/* NAV */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-inline: 1em;
}

nav .links{
    display: flex;
    gap: 1em;
    justify-content: center;
}

nav .link{
    color: var(--color-letra-gris);
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: color 250ms ease, border-color 250ms ease;
}

nav .link:hover{
    color: white;
    border-bottom: 1px solid white;   
}

nav .link-sign-in{
    display: flex;
    align-items: center;
    justify-items: right;
    gap: 0.75em;
    border-bottom: none;
}

nav .link-sign-in:hover{
    border-bottom: none;
}

nav .link-sign-in span{
    border-bottom: 1px solid transparent;
    transition: color 250ms ease, border-color 250ms ease;

}
nav .link-sign-in:hover span{
    border-bottom: 1px solid var(--color-letra-gris);
}    



/* ----------------- MAIN --------------  */

main{
    max-width: 130ch;
    margin-inline: auto;
}     

h2{
    padding: 2% ;
    font-size: 2em;
    width: 20%;
}

h3{
    max-width: 40ch;
    font-size: 1.4em;
    display: flex;    
}

h2, h3, h4 {
    color: var(--color-letra-blanca);
}

p{
    font-size: 1.2em;
    max-width: 70ch;
}

section{
    padding: 1em;
}

section p{
    margin-left: 3em;
}    

article{
    padding: 1em;
}    

.subtitulo{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    /* padding-inline: 1em; */
    margin-bottom: 1.2em;
}
.subtitulo div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

section .año{
    color: var(--color-celeste);
    font-size: 1.4em;
    font-weight: bolder;
    display: flex;
    margin-top: 5px;
}

/* ------- Sobre Mi ---------- */

.nombre {
    color: var(--color-letra-blanca);
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.tituloPrograma{
    text-align: center;
    color: var(--color-celeste);
    font-size: 1em;
}

.articulo-sobreMi{
    display: flex;
    justify-content: center;
}

.articulo-sobreMi div{
    display: flex;
    flex-direction: column;
}

.articulo-sobreMi .descripcion{
    margin-top: 1em;
    padding: 2em;
    background-color: #3f3f3f25;
    max-width: 40ch;
    text-align: justify;
}

/* ---------- Habilidades ---------- */

.habilidadess{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.articulo-habilidades div{
    display: flex;
    /* vertical-align:auto; */
    /* align-items: center; */
}

.articulo-habilidades div p{
    margin-left: 15px;
}

progress{
    background: none;
}
progress::-webkit-progress-bar{
    background-color:rgba(19, 22, 22, 0.418) ;
}
progress::-webkit-progress-value{
    background: var(--color-fucsia);

}

/*  ------------- Proyectos ------------ */

.fotoProyecto{
    border: 2px solid rgba(0, 0, 0, 0.308);
}

.articulo-proyectos p{
    margin-bottom: 20px;
    max-width: 80ch;
}

.articulo-proyectos .subtitulo{
    margin-bottom: 0;
}

.articulo-proyectos .link{
    display: flex;
    justify-content: center;
}

/* ----------- FOOTER --------------- */

footer h2{
    padding: 0;
    margin: 0;
    padding-left: 30px;
    /* width:fit-content; */
}

footer{
    padding: 2em;
    display: flex;
    justify-content: space-between;

    /* padding-left: 2%; */
    text-align: left;
    background-color: var(--color-fucsia);
    /* padding-bottom: 1.3em; */
    padding-right: 300px;
    color: black;
    /* width: 100vw; */
}
footer dl{
    line-height: 45px;
    font-size: 1.15em;
    font-weight: bolder;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 2em;
    padding-right: 25px;
}

footer dl dt{
    display: none;
}

/* ----------- EDICION ------------- */

.boton-editPersona{
    display: flex;
    justify-content: center;
    /* color: wi; */
    margin-top: -3em;
}

.editPersona{
    display: flex;
    justify-items: center;
    color: white;
    gap: 10px;

}

/* .boton-editPersona .edit{
    background-color: rgba(59, 226, 238, 0.507);
    border: none;
    padding: 10px;
} */

.editPersona p{
    margin-top: -10px;
   
}


.boton-editPersona .edit{
    width: 45px;
    height: 45px;
}

.botones-editar{
    /* margin-left: 2em; */
    margin-bottom: 0.5em;
    display: flex;
    gap: 8px;
}

.boton-agregar{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}


.edit{
    background-color: var(--color-letra-gris) ;
    /* background-color: var(--color-fucsia); */
    border: none; 
    width: 38px;
    height: 38px;
    padding: 10px; 
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    border-radius:50%;
    
    /* border: 1px solid black; */
    /* transition: color 250ms ease, border-color 250ms ease; */
}

.boton-agregar .edit{
    width: 45px;
    height: 45px;    
}



/* ----------- DECORACION ------------- */

.vector{
    position: absolute;
}

.vectorUno{
    margin-top: -18px;
    margin-left: -172px;
}
.vectorDos{
    margin-top: -18px;
    margin-left: -229px;
}

.vectorTres{
    margin-top: -18px;
    margin-left: -172px;
}

.vectorCuatro{
    margin-top: -18px;
    margin-left: -228px;
}

.vectorCinco{
    margin-top: -18px;
    margin-left: -191px;
}

hr{
    background-color: rgb(95, 160, 218);
    border-color: var(--color-celeste); 
    position: relative;
    top: -42px;
}

.hrUno , .hrTres{
    right: -185px;
    width: 1025px;
} 

.hrDos , .hrCuatro{
    border-color: var(--color-fucsia);
    background-color: var(--color-fucsia);
    width: 960px;
    right: -250px;
}

.hrCinco{
    right: -220px;
    width: 990px;
}

@keyframes cambiarColor{
    50%{
        color: rgb(72, 134, 192);
        text-shadow: -5px -4px rgb(175, 14, 14);
    }
}