<form [formGroup]="habForm" class="editar">
    <h1>Agregar Habilidad</h1>
    <div>
        <label>Habilidad:</label>
        <input type="text" [(ngModel)]="hab.nombre" name="nombre" formControlName="nombre" required placeholder="Ingrese el nombre de la habilidad">    
    </div>

    <div>
        <label>porcentaje:</label>
        <input type="text" [(ngModel)]="hab.porcentaje" name="porcentaje" formControlName="porcentaje" required placeholder="Ingrese el porcentaje, sin el simbolo %">    
    </div>

    <div class="boton">
        <button class="botonIS" (click)="agregarHab()" [disabled]="!habForm.valid"> Guardar </button>
        <button class="botonIS" type="button" (click)="volverAHome()"> Cancelar </button>

    </div>



</form>