<section class="seccion sobreMi">

    <h2 id="sobre-mi">
        SOBRE MI
        <span><img class="vector vectorUno" src="/assets/imagenes/Vector 1.svg" alt="cuadro decoracion" width="240px"></span>   
    </h2>
    
    <hr class="hr hrUno">

    <article class="articulo articulo-sobreMi">
        
        <img [src]="sobreMiDatos.fotoPerfil" width="220px" height="300px" alt="">
        

        <div>

            <p class="nombre">{{sobreMiDatos.nombre}}</p>
            <p class="tituloPrograma">{{sobreMiDatos.tituloPrograma}}</p>
            <p class="descripcion">
                {{sobreMiDatos.descripcion}}
            </p>

        </div>
        
    </article>
    
</section>