<section class="seccion proyectos">
    <h2 id="Proyectos">
        PROYECTOS
        <span><img class="vector vectorCinco" src="/assets/imagenes/Vector 5.svg" alt="cuadro decoracion" width="280px"></span>   

    </h2>

    <hr class="hr hrCinco">

    <article class="articulo articulo-proyectos" *ngFor="let proyecto of proyectosDatos">

        <div class="botones-editar" *ngIf="login">
            <button class="edit editProyecto" (click)="onEdit(proyecto.id)">
                <img src="/assets/imagenes/pen-solid.svg" alt="logo">
            </button>

            <button class="edit borrarProyecto" (click)="onDelete(proyecto.id)">
                <img src="/assets/imagenes/trash-solid.svg" alt="logo">
            </button>
        </div>

        <div class="subtitulo">
            <div>
                <img src="/assets/imagenes/angle-right-solid 1.svg" href="" width="15" alt="logo flecha">
                <h3>{{proyecto.nombre}}</h3>
            </div>
            <p class="año">{{proyecto.anio}}</p>
        </div>
        
        <p>
            {{proyecto.descripcion}}
        </p>

        <a class="link" href={{proyecto.urlGit}} target="_blank" >
            <img class="fotoProyecto" [src]="proyecto.urlFoto" width="500" alt="foto proyecto">
        </a>
            
    </article>

    <div class="boton-agregar" *ngIf="login">
        <button class="edit agregarProyecto" (click)="onAgregar()">
            <img src="/assets/imagenes/plus-solid.svg" alt="logo">
        </button>
    </div>

</section>