<header>
    <nav>
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
            <img src="/assets/imagenes/APLogo-20-20.png" width="100" alt="logo">
        </a>

        <div class="links">
            <a class="link" href="/#sobre-mi">Sobre mi</a>
            <a class="link" href="/#experiencia">Experiencia</a>
            <a class="link" href="/#estudios">Estudios</a>
            <a class="link" href="/#habilidades">Habilidades</a>
            <a class="link" href="/#contacto">Contacto</a>        
        </div>
        
        <div>
            <button class="link link-sign-in">
                <span>Sign in</span> 
                <img src="/assets/imagenes/User.svg" alt="logo">
            </button>
        </div>

    </nav>
    
    <div class="titulo">
        <h1>{{miPortfolio.nombre}}</h1>
        <p>{{miPortfolio.ubicacion}}</p>    
    </div>
    
    <div class="logosAbajo">
        <a class="link" href="{{miPortfolio.git}}" target="_blank" >
            <img src="/assets/imagenes/github-brands 1.svg" width="35" alt="logo github">
        </a>
  
        <a class="linkBajar" href="/#sobre-mi">
            <img src="/assets/imagenes/angles-down-solid 1.svg" width="30" alt="flecha bajar">
        </a>
    </div>
</header>