<section class="seccion habilidades">

    <h2 id="habilidades">
        HABILIDADES
        <span><img class="vector vectorCuatro" src="/assets/imagenes/Vector 4.svg" alt="cuadro decoracion" width="320px"></span>
    </h2>
    
    <hr class="hr hrCuatro">

    <div class="habilidadess">
        <article class="articulo articulo-habilidades" *ngFor="let habilidad of habilidadesDatos">
            <div>
                <h3>{{habilidad.habilidad}}</h3>
                <p>{{habilidad.porcentaje}}%</p>
            </div>
                <progress value="{{habilidad.porcentaje}}" max="100"></progress>
        </article>    
    </div>
</section>