<form [formGroup]="expForm" class="editar">
    <h1>Editar Experiencia</h1>

    <div>
        <label>Trabajo:</label>
        <input type="text" [(ngModel)]="exp.trabajo" name="trabajo" formControlName="trabajo" required placeholder="Ingrese el nombre del trabajo">

    </div>

    <div>
        <label>Tareas:</label>
        <textarea type="text" [(ngModel)]="exp.tareas" name="tareas" formControlName="tareas" required placeholder="Ingrese las tareas"></textarea>
    </div>

    <div>
        <label>Fecha de inicio:</label>
        <input type="text" [(ngModel)]="exp.fechaInicio" name="fechaInicio" formControlName="fechaInicio" required placeholder="Ingrese la fecha de inicio">    
    </div>

    <div>
        <label>Fecha de Fin:</label>
        <input type="text" [(ngModel)]="exp.fechaFin" name="fechaFin" formControlName="fechaFin" required placeholder="Ingrese la fecha de fin">    
    </div>

    <div class="boton">

        <button class="botonIS" (click)="editarExp()" [disabled]="!expForm.valid"> Guardar </button>
        <button class="botonIS" type="button" (click)="volverAHome()"> Cancelar </button>
    </div>

</form>