<section class="seccion experiencia">
  
    <h2 id="experiencia">
        EXPERIENCIA
        <span><img class="vector vectorDos" src="/assets/imagenes/Vector 2.svg" alt="cuadro decoracion" width="350px"></span>   
    </h2>
    
    <hr class="hr hrDos">


    <article class="articulo articulo-experiencia" *ngFor="let experiencia of experienciaDatos">
        
        <div class="botones-editar" *ngIf="login">
            <button class="edit editExperiencia" (click)="onEdit(experiencia.id)">
                <img src="/assets/imagenes/pen-solid.svg" alt="logo">
            </button>

            <button class="edit borrarExperiencia" (click)="onDelete(experiencia.id)">
                <img src="/assets/imagenes/trash-solid.svg" alt="logo">
            </button>
        </div>

        <div class="subtitulo">

            <div>
                <img src="/assets/imagenes/angle-right-solid 1.svg" width="15" alt="logo flecha">
                <h3>{{experiencia.trabajo}}</h3>
            </div>
            <p class="año">{{experiencia.fechaInicio + " - " + experiencia.fechaFin}}</p>

        </div>
        
        <p>
            {{experiencia.tareas}}
        </p>
    
    </article>

    <div class="boton-agregar" *ngIf="login">
        <button class="edit agregarExperiencia" (click)="onAgregar()">
            <img src="/assets/imagenes/plus-solid.svg" alt="logo">
        </button>
    </div>

</section>